* {
    box-sizing: border-box;
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("@/assets/background_1.jpg");
}

h1 {
    margin: 0;
    font-size: 70px;
    font-weight: normal;
}
